header{
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 114px;
    padding: 30px 30px;
    border-bottom: 3px solid saddlebrown;
}
.logo{
    display: flex;
    align-items: center;

}
.items{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 50px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}

.prestation{
    display: flex;
    cursor: pointer;
}
.prestation p{
    margin-right: 10px;
}
.prestation:hover{
    color: #009741;
}
.icons{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 40px;
    align-items: center;
}
.login{
    margin-left: 30px;
    width: 129px;
    height: 54px;
    border: 1px solid white;
    border-radius: 10px;
    background: transparent;
    color: white;
    font-weight: bold;
}
.menu{
    display: none;
}

@media screen and (max-width: 1200px) {
    .items, .icons{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 15%;
        left: -100%;
    }
    .items.active{
        left: 0;
    }
    .menu{
        display: flex;
        font-size: 2rem;
    }
    .search{
        margin-right: 60px;
    }
}