.content{
    background: #292A2A;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
}
.cardInfo{
    display: flex;
    padding: 16px 16px;
    align-items: center;
    justify-content: space-between;
}
.castCover{
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    width: 100px;
    height: 100px;
}
.firstPart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.textPart{
    margin-left: 12px;
}
.title{
    color: white;
    line-height: 32px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
}
.detail{
    display: flex;
    color: white;
    gap: 8px;
    align-items: center;
}
.name{
    font-size: 16px;
    line-height: 32px;
}
.dot{
    color: #A0A19F;
}
.date{
    line-height: 32px;
    font-size: 16px;
    line-height: 32px;
}
.listAction{
    padding-right: 10px;
    display: flex;
    gap: 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .listAction{
        display: none;
    }
    .content{
        height: auto;
    }
    .castCover{
        height: auto;
    }
}

@media (max-width:576px) {
    .firstPart{
        display: block;
        text-align: center;
    }
    .castCover{
        width: auto;
        height: 99px;
    }
    .detail{
        display: block;
    }
}