.content{
    background: #292A2A;
    width: 100%;
    justify-content: center;
    margin: 20px 0;
    border-radius: 10px;
}
.content:hover{
    border: 2px solid #FFFF27;
}
.cardInfo{
    display: flex;
    padding: 16px 16px;
    align-items: center;
    justify-content: space-between;
}
.castCover{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    width: 130px;
    height: 100px;
    border-radius: 10px;
}
.firstPart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.textPart{
    margin-left: 12px;
}
.title{
    color: white;
    line-height: 32px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.detail{
    display: flex;
    color: white;
    gap: 8px;
    align-items: center;
}
.name{
    font-size: 16px;
    line-height: 32px;
}
.dot{
    color: #A0A19F;
}
.date{
    line-height: 32px;
    font-size: 16px;
    line-height: 32px;
}
.listAction{
    padding-right: 10px;
    display: flex;
    gap: 20px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

@media (min-width:768px) and (max-width:992px) {
    .title{
        width: 450px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
        max-width: 1000px;
    }
}

@media (min-width:576px) and (max-width: 768px) {
    .listAction{
        display: none;
    }
    .content{
        height: auto;
    }
    .castCover{
        margin: auto;
        width: 150px;
        height: 150px;
    }
    .title{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 300px;
    }
}

@media (max-width:576px) {
    .listAction{
        display: none;
    }
    .firstPart{
        display: block;
        text-align: center;
    }
    .castCover{
        margin: 1em;
        width: 200px;
        height: 200px;
    }
    .detail{
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width:992px) {
    .title{
        width: 400px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

@media screen and (min-width:992px) {
    .title{
        width: 1000px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}