#about_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #292A2A;
  width: 100%;
  max-width: 90em;
  padding-bottom: 4em;
  color: black;
}

#about_page section {
  display: flex;
  background: #EAECE9;
  position: relative;
  padding: 3em 5% 0 5%;
  width: 90%;
  padding-top: 4em;
  margin: 0;
}

#about_page section .title h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 34px;
  line-height: 67px;
  color: black;
}

#about_page section .content, section .images {
  display: flex;
}

#about_page section .article {
  margin-top: 1em;
  font-size: 18px;
}

#about_page section .article p {
  margin: 1em 0;
  line-height: 1.5em;
}

#about_page section .article a {
  color: #009741;
  text-decoration: underline;
}

@media all and (max-width: 50em) {
  #about_page .content {
    justify-content: center;
  }
}

@media all and (max-width: 600px) {
  #about_page section {
    width: 96%;
    padding-top: 1em;
  }
  #about_page section .title h2 {
    font-size: 1.3em;
    line-height: 37px;
  }
  #about_page section .title img {
    width: 60px;
  }
  #about_page section .article {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15.75px;
    line-height: 25px;
    margin:1em 0;
  }
}

@media all and (max-width: 360px) {
  #root {
    padding-bottom: 1em;
  }
  #about_page section .title h2 {
    font-size: 1.25em;
    margin-bottom: -0.5em;
  }
}