.clubContainer{
    display: flex;
    flex-direction: column;
    width: 227px;
    height: 328px;
    border: 1px solid white;
    /* align-items: center;
    justify-content: center; */
    transition: transform .5s;
    cursor: pointer;
    position: relative;
}
.clubContainer:hover{
    border: 1px solid #FFFF27;
    transform: scale(1.01);
}
.blason{
    width: 148px;
    height: 148px;
    border-radius: 50%;
    margin: 24px 40px; 
    text-align: center;
}

.nom{
    margin: 8px 0;
    text-align: center;
    font-size: 21px;
    color: #D9D9D9;
}
.division{
    width: 100%;
    position: absolute;
    bottom: 30px;
    font-size: 14px;
    text-align: center;
}
