.clubContainer{
    display: flex;
    flex-direction: column;
    width: 227px;
    height: 328px;
    border: 1px solid white;
    align-items: center;
    justify-content: space-between;
    padding: 2em 1em;
    transition: transform .25s linear;
    cursor: pointer;
}
.clubContainer:hover{
    border: 1px solid #FFFF27;
    transform: scale(1.01);
}
.blason{
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.nom{
    text-align: center;
    margin: 8px 0;
    font-size: 21px;
    color: #D9D9D9;
}
.division{
    white-space: nowrap;
    font-size: 14px;
}