#ourGoals {
    flex-direction: column;
}

#ourGoals .title {
    position: absolute;
    top: 3em;
}

#ourGoals .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




#ourGoals .article {
    max-width:30em;
    line-height: 25px;
}

#ourGoals .article p {
    margin:1em 0;
}

#ourGoals .article a {
    color: #009741;
    text-decoration: underline;
}




#ourGoals .images {
    justify-content: center;
    align-items: center;

    border-image-source:url(../../assets/tools/bar.png);
    background: linear-gradient(to right, red, yellow, green);
    padding: 3px;
    border-radius: 100%;
}

#ourGoals .images .img {
    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    width: 30em;
    height: 30em;
    border-radius: 100%;
    overflow: hidden;
    border: 15px solid transparent;
}

#ourGoals .images img {
    height: 100%;
}

@media all and (max-width: 70em) {
    #ourGoals .content {
        flex-direction: column-reverse;
    }
    #ourGoals .title {
        position: relative;
        top: 0;
    }
    #ourGoals .content {
        align-items: center;
    }
    #ourGoals .article {
        max-width: 60em;
    }
    #ourGoals .images {
        margin: 2em 0;
    }
}
@media all and (max-width: 40em) {
    #ourGoals .images .img {
        width: 20em;
        height: 20em;
    }
}
@media all and (max-width: 454px) {
    #ourGoals .images .img {
        max-width: 17em;
        height: 17em;
        border-width: 10px;
    }
    #ourGoals .article {
        font-size: 15px;
    }
}