.modalScreen{
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
}
.playerbottom{
    bottom: 0;
    width: 100%;
    position: fixed;
}
.playerbottomContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    width: 100%;
    padding: 20px 60px;
}
.aboutPodcast{
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 30px;
    align-items: center;
}
.coverPlayerbottom{
    width: 85px;
    height: 73px;
}
.playerbottomRadiobutton{
    border-radius: 100%;
    background: white;
    color: black;
    padding: 5px;
}
.podcastdetail{
    align-items: center;
}
.playerbottomPodcastitle{
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}
.buttonPlayerbottom{
    /* display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 20px; */
    display: flex;
    text-align: center;
    gap: 20px;
}
.buttonbottom{
    cursor: pointer;
    
}
.progressBarbottom{
    margin: 0;
}

@media (max-width:576px) {
    .playerbottomContent{
        padding: 10px 20px;
        align-items: center;
        /* justify-content: space-between; */
    }
    .buttonbottom2{
        display: none;
    }
    .modalScreen{
        display: none;
    }
    .buttonPlayerbottom{
        gap: 10px;
    }
    .playerbottomPodcastitle{
        font-size: 14px;
        line-height: 20px;
        /* text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 200px; */
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    .coverPlayerbottom{
        width: 50px;
        height: 50px;
    }
    
}

@media screen and (min-width:576px) and (max-width:768px) {
    .playerbottomContent{
        padding: 10px 20px;
        align-items: center;
        /* justify-content: space-between; */
    }
    .buttonbottom2{
        display: none;
    }
    .buttonPlayerbottom{
        gap: 10px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    .buttonbottom2{
        display: none;
    }
    
}