.container{
    margin: 10px 60px;
}
.playlist{
    width: 100%;
    height: 65px;
    border-bottom: 3px solid #A0A19F;
    font-size: 36px;
    color: white;
    font-weight: 600;
    line-height: 50.4px;
}
.playlistShowMore{
    cursor: pointer;
    width: 147px;
    height: 54px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: white;
    border: 2px solid white;
}
.boutoncenter{
    text-align: center;
}

@media screen and (max-width: 992px) {
    
}